/* CONTENT CONTAINERS */
body{
	background-color: #AAE9FF;
}

.lightbox{
	width:17%;
	height:25%;
	background-color:white;
	display:none;
	padding: 2em 2em 2.4em 2em;
	border-radius:20px;
	box-shadow:2px 2px 2px;
}



/* HEADERS */
h1{
	text-align: center;
}

/* KNOBS */

.row{

}

#eventcols{
	 height: 365px;
}
.caption{
	height:330px;
	margin-top:320px;
	margin-left:2em;
}
.eventclock{
        position:relative;
        width:350px;
        margin:auto;
}
.secz{
        position:absolute;
        left:87.5px;
        top:87px;
}
.inners{
        display:inline;
        width:100px;
        height:100px;
}
.minz{
        position:absolute;
        left:75px;
        top:75px;
}
.innerm{
        display:inline;
        width:100px;
        height:100px;
}
.hourz{
        position:absolute;
        left:55px;
        top:55px;
}
.innerh{
        display:inline;
        width:200px;
        height:200px;
}
.dayz{
        position:absolute;
        left:10px;
        top:10px;
}

.innerd{
        display:inline;
        width:300px;
        height:300px;
}

