/* CONTENT CONTAINERS */





/* HEADERS */
h1{
	text-align: center;
}

/* KNOBS */

.outer{
	postion:relative;
	width:350px;
	margin:auto;
}
.mid{
	position:absolute;
	left:10px;
	top:10px;
}
.inner{
	display:inline;
	width:300px;
	height:300px;
}

.min-mid{
	position:absolute;
	left:60px;
	top:60px;
}
.mid-inner{
	display:inline;
	width:200px;
	height:200px;
}
